<div class="container-fluid">
  <button id="addMemberButton" class="btn btn-primary pull-right" (click)="navigateToMemberDetailsPage()">Add Member</button>
  <table class="table">
    <thead>
      <tr>
        <th>Member ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Job Title</th>
        <th>Racing Team</th>
        <th>Status</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor='let member of members'>
        <td>{{member?.id}}</td>
        <td>{{member?.firstName}}</td>
        <td>{{member?.lastName}}</td>
        <td>{{member?.jobTitle}}</td>
        <td>{{member?.team}}</td>
        <td>{{member?.status}}</td>
        <td> <button class="btn btn-primary" (click)="editMember(member?.id)">Edit</button></td>
        <td> <button class="btn btn-primary delete-btn" (click)="deleteMember(member?.id)">Delete</button></td>
      </tr>
    </tbody>
  </table>
</div>
